VITE_BASE44_APP_ID=69363d952edb0676b189411a
VITE_BASE44_BACKEND_URL=https://qr-kubur.base44.app

DATABASE_URL=postgresql://postgres:%21amin0105%40stronk@db.pkuyaafdmcoqkpbjrwqs.supabase.co:6543/postgres?sslmode=require

#Functional Supabase Keys ?
VITE_SUPABASE_URL=https://pkuyaafdmcoqkpbjrwqs.supabase.co
VITE_SUPABASE_ANON_KEY=XXX

#Billpiz Test Environment
BILLPIZ_API_KEY=8b62068e-efa9-41ad-878a-d30949eea6bb
BILLPIZ_COLELCTION_ID=c2cec5ce44f7af3e
BILLPIZ_X_SIGNATURE=573d5e3f1043b539fbd1cbfd0fe12ff3e37fb540b688a31727b0eddb1bcb02978e069d18a84dca4aeb849605f7a6052ca4b9721f591921e7eb07fd2b6d4893e2
BILLPIZ_URL=https://www.billplz-sandbox.com/api/v3/