DATABASE_TYPE=postgres
DATABASE_URL=postgres://postgres:@localhost:5432/qrkubur
DATABASE_SYNC=true
# postgres://<username>:<password>@<host>:<port>/<database>
JWT_SECRET=XX

#supabase
SUPABASE_URL=XX
SUPABASE_ANON_KEY=XX