#localhost
DATABASE_TYPE=postgres
DATABASE_URL=postgres://postgres:@localhost:5432/qrkubur
# postgres://<username>:<password>@<host>:<port>/<database>
DATABASE_SYNC=true

#supabase
SUPABASE_URL=XX
SUPABASE_ANON_KEY=XX

#JWT
JWT_SECRET=XX